  <head>
    <meta charset="utf-8">
    <!--<link rel="stylesheet" href="/css/main.css">-->
    <link rel="stylesheet" href="/assets/css/main.css">
    <link rel="stylesheet" href="/assets/css/page.css">
      <link rel="stylesheet" href="/assets/css/lightbox.min.css" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/instantsearch.css@7/themes/algolia-min.css"/>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/dygraphs@2.1.0/dist/dygraph.min.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/dygraphs@2.1.0/dist/dygraph.min.css" />
    <link rel="stylesheet" href="/assets/css/main.css" />
    <link rel="stylesheet" href="/assets/css/layout.css"/>
    <link rel="stylesheet" href="/assets/css/includes.css" />
    <link rel="stylesheet" href="/assets/css/timeline.css"/>
    <link rel="stylesheet" href="/assets/css/dock.css"/>
  
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">

  </head>
 