<!doctype html>
<html>
  {% include head.html %}

 <body>
  <!-- Header -->
  <div class="w3-bar w3-white w3-wide w3-padding w3-card">
    <div class="topnav">
      <a class="active" href="/">Home</a>
      <a href="{{site.baseurl}}/docs/install">Install</a>
      <a href="{{site.baseurl}}/docs/contact">Contact</a>
      <a href="{{site.baseurl}}/docs/about">About</a>
    </div>

  <header class="w3-display-container w3-content w3-wide" style="max-width:1500px;" id="home">
    <img class="w3-image" src="{{site.baseurl}}/images/logo.jpeg" alt="Image missing" width="300" height="100">
    <div class="w3-display-middle w3-margin-top w3-center">
    <h1 class="w3-xxlarge w3-text-white"><span class="w3-padding w3-black w3-opacity-min"><b>TNIA-Python</b></span></h1>
  </div>
</header>
   
</div>
    {{ content }}
  </body>
</html>
